.Flows {
}

.Flows-flow {
  display: flex;
  flex-direction: row;
  height: 35px;
  background-color: #f5f5f5;
  padding-right: 10px;
}

.Flows-flow-icon {
  padding-left: 5px;
}

.Flows-flow-icon-letter {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  padding: 5px;
  background: #fff;
  border: 2px solid #000;
  color: #000;
  text-align: center;
}

.Flows-flow-text {
  display: flex;
  align-items: center;
  padding-left: 10px;
}
