.PrivateChat {
}

.PrivateChat-icon {
  padding-left: 5px;
}

.PrivateChat-chat {
  display: flex;
  flex-direction: row;
  height: 30px;
  background-color: #f5f5f5;
}

.PrivateChat-name {
  display: flex;
  align-items: center;
  padding-left: 10px;
}
