.Users {
}

.Users-icon {
  padding-left: 5px;
}

.Users-user {
  display: flex;
  flex-direction: row;
  height: 30px;
  background-color: #f5f5f5;
}

.Users-username {
  display: flex;
  align-items: center;
  padding-left: 10px;
}
